@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

*

{
margin: 0;
padding: 0;

}


.paginas-container{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu{

margin-left: 60px;

}


.menu:hover{
  color: rgb(207, 194, 11)
  

}

.menu {
  text-decoration: none;
  color: rgb(207, 194, 11);
  font-size: 25px;
  font-family:'Orbitron', Courier, monospace;
}

.menu1 li{
  display: inline;
  margin-right: 60px;
  
  }
  

body{

    /* background-color: #000000; 
    background-attachment: fixed; 
    background-size: cover;  */
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1625' height='1625' viewBox='0 0 20 20'%3E%3Cg fill-opacity='0.4'%3E%3Cpolygon fill='%230f0f0f' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%230f0f0f' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");

    }

/* Gradient color1 - color2 - color1 */
/* Cloud */

.hr1{
  border: 0;
  height: 0; /* Firefox... */
  box-shadow: 0 0 10px 1px rgb(207, 194, 11)
}

.hr2{
  border: 0;
  height: 0; /* Firefox... */
  box-shadow: 0 0 10px 1px rgb(207, 194, 11)
}



.hr2{
margin-top: -5px;
margin-bottom: 20px;

}
.logo{

display: flex;
justify-content:space-around;
align-items: center;

}
#video-container {

 width: 100%;
 height: 100%;
 overflow: hidden;
 position:relative;
}

video{

width: 100%;
height: 100%;
top: 0;
bottom: 0;
left: 0;
right: 0;


}

.container{

display: flex;
flex-flow: row ;
justify-content: center;
align-items: center;
}

label{

color: rgb(207, 194, 11);

}

.imagem{

width: 210px;
height: 87.5;


}

.imagem-logo{

width: 433px;
height:auto;

}

.icones{

width: 64px;
height: auto;
padding-right: 100px;

}

.container-icone{

  display: flex;
  flex-flow: row ;
  justify-content: center;
  
}

.footer{

color: rgb(207, 194, 11);
text-align: center;
margin-top: 10px;

}
.hr3{

 border: 1px solid grgb(207, 194, 11);

}

.hr4{
  border: 1px solid rgb(207, 194, 11);

}

.contato{

  margin-top: 130px;
  display: flex;
  flex-flow: row;
  justify-content:space-evenly;
  margin-bottom: 130px;
  
}
.kindle{

color:rgb(207, 194, 11);
}



.vl {
  border-left: 2px solid rgb(207, 194, 11);
  height: 500px;
}